# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
BASEPATH=
PORT=5501

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_BASEPATH=${BASEPATH}/api/auth
NEXTAUTH_URL=http://localhost:${PORT}${BASEPATH}/api/auth
NEXTAUTH_SECRET=

# Google OAuth 2.0 (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# -----------------------------------------------------------------------------
# API
# -----------------------------------------------------------------------------
API_URL=http://localhost:${PORT}${BASEPATH}/api
NEXT_PUBLIC_API_URL=${API_URL}