# -----------------------------------------------------------------------------
# App
# -----------------------------------------------------------------------------
BASEPATH=
PORT=5503

# -----------------------------------------------------------------------------
# Authentication (NextAuth.js)
# -----------------------------------------------------------------------------
NEXTAUTH_BASEPATH=${BASEPATH}/api/auth
NEXTAUTH_URL=http://localhost:${PORT}${BASEPATH}/api/auth
NEXTAUTH_SECRET=

# Google OAuth 2.0 (https://console.cloud.google.com/apis/credentials)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# -----------------------------------------------------------------------------
# API
# -----------------------------------------------------------------------------
API_URL=http://localhost:${PORT}${BASEPATH}/api
NEXT_PUBLIC_API_URL=${API_URL}

# -----------------------------------------------------------------------------
# API External
# -----------------------------------------------------------------------------
API_URL_EXTERNAL=

# -----------------------------------------------------------------------------
# Docker
# -----------------------------------------------------------------------------
DOCKER_HUB_USERNAME=nico0689crc
DOCKER_HUB_PORTFOLIO_V3_IMAGE=portfolio-v3-app
PORTFOLIO_V3_HOST_PORT=${PORT}
PRODUCTS_MS_BACKEND_CONTAINER_PORT=3000